html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-image {
    max-height: 450px;
    max-width: 800px;
}

.footer-fix {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.min-vh-35 {
    min-height: 35vh !important;
}

.min-vh-40 {
    min-height: 40vh !important;
}

.min-vh-60 {
    min-height: 60vh !important;
}

a.post-div{ /*removes link underlines*/
    text-decoration: none;
}

p.card-text { /*post text*/
    color: #839496;
}

.w-15 {
    width: 15% !important;
}

.w-35 {
    width: 35% !important;
}

.w-60 {
    width: 60% !important;
}

.h-15 {
    height: 15% !important;
}

.h-35 {
    height: 35% !important;
}

.h-60 {
    height: 60% !important;
}