@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model List<Group>
@{
    ViewData["Title"] = "Groups";
    int groupCount = Model.Count - 1;
}


<div class="container">
    <div class="row">
        <div class="col-3 bg-dark card m-2">
            <h2 Class="text-primary mx-auto">Group Browser</h2>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="m-3 card-header">
                    <a asp-controller="Group" asp-action="Create" class="btn btn-primary w-100">
                        <i class="bi bi-plus-square"></i> &nbsp Create New Group
                    </a>
                </div>
            }
            else
            {
                <div class="col-6 text-end">
                </div>
            }
            <br />
            <form class="d-flex mb-3" method="post">
                @Html.TextBox("substr", "", new {@Class="form-control"})
                <button asp-controller="Group" asp-action="Search" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                
                <input type="radio" class="btn-check">
                <a asp-controller="Group" asp-action="Index" class="btn btn-outline-primary">
                    Newest
                </a>
                
                <input type="radio" class="btn-check">
                <a asp-controller="Group" asp-action="Index" class="btn btn-outline-primary" asp-route-popular="true">
                    Popular
                </a>
            </div>

        </div>
        <div class="col-8 m-2">

            @for(int i = 0; groupCount >= 0; groupCount--)
            {
                await Html.RenderPartialAsync("_GroupPartial", Model[groupCount]);
            }

            @*@foreach (Group group in Model)
            {
                await Html.RenderPartialAsync("_GroupPartial", group);
            }*@
        </div>
    </div>
</div>