@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model List<Group>
@{
    ViewData["Title"] = "Groups";
    int groupCount = Model.Count - 1;
    bool popular = ViewBag.Popular;
    string searchQuery = ViewBag.SearchQuery;
}


<div class="container">
    <div class="row">
        <div class="col-3 bg-dark card m-2">
            <h2 Class="text-primary mx-auto">Group Browser</h2>
            <div class="m-3 card-header">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Group" asp-action="Create" class="btn btn-primary w-100">
                        <i class="bi bi-plus-square"></i> &nbsp Create New Group
                    </a>
                }
                <form class=" mb-2 pt-3" method="post">
                    @Html.TextBox("searchQuery", @searchQuery, new {@Class="form-control"})
                    <div class="row p-3">
                        <fieldset class="col-6">
                            <div class="form-check" title="Sort by date created">
                                <label class="form-check-label">
                                    @if (!popular)
                                    {
                                        <input type="radio" class="form-check-input" name="popular" value="false" checked="">
                                    }
                                    else
                                    {
                                        <input type="radio" class="form-check-input" name="popular" value="false">
                                    }
                                    New
                                </label>
                            </div>

                            <div class="form-check" title="Sort by most users in group">
                                <label class="form-check-label">
                                    @if (popular)
                                    {
                                        <input type="radio" class="form-check-input" name="popular" value="true" checked="">
                                    }
                                    else
                                    {
                                        <input type="radio" class="form-check-input" name="popular" value="true">
                                    }
                                    Popular
                                </label>
                            </div>
                        </fieldset>
                        <button asp-controller="Group" asp-action="Search" class="btn btn-secondary col" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <br />
        </div>
        <div class="col-8 m-2">
            @for (int i = 0; groupCount >= 0; groupCount--)
            {
                await Html.RenderPartialAsync("_GroupPartial", Model[groupCount]);
            }
        </div>
    </div>
</div>