
@{
    ViewData["Title"] = "Admin";
}

<div class="container p-3 mt-4  bg-dark">
    <div class="row pb-2">
        <h2 class="text-primary">Admin stuff</h2>
        <hr />
        <p>Global admins :o</p>
        <a asp-controller="Admin" asp-action="EditUsersInRole" class="btn btn-primary" style="width:150px">
            Edit
        </a>
    </div>
</div>