@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

<div class="container">
    <div class="row">

         <div class="col-3 bg-dark card m-2">
            <a class="btn btn-primary w-100 mt-3" asp-controller="Admin" asp-action="CreateRole">
                <i class="bi bi-plus-square"></i> &nbsp Create a role
            </a>
         </div>
         
         <div class="col-8 m-2">
             <table>
                 <thead>
                     <tr>
                         <th>
                             Role name
                         </th>
                         <th>
                             Role id
                         </th>
                         <th>

                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     @if (Model.Any())
                     {
                         foreach(IdentityRole role in Model)
                         {
                             <tr>
                                 <td width="15%">
                                     @role.Name
                                 </td>
                                 <td width="30%">
                                     @role.Id
                                 </td>
                                 <td width="10%">
                                     <a class="btn btn-primary" asp-action="EditRole" style="width:80px"
                                        asp-controller="Admin" asp-route-id="@role.Id">
                                        Edit
                                     </a>
                                 </td>
                             </tr>
                         }
                     }
                     else
                     {
                 
                     }
                 </tbody>
             </table>            
        </div
    </div>
</div>