@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model IEnumerable<Post>?
@{
    ViewData["Title"] = @ViewBag.GroupTitle;
}


<div class="container">
    <div class="row">

        <div class="col-3 bg-dark card m-2">

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="m-3 card-header">
                    <form method="get">
                        <input type="hidden" name="id" value=@ViewBag.GroupId />
                        <input type="hidden" name="groupTitle" value=@ViewBag.GroupTitle />
                        <button asp-controller="Post" asp-action="Create" class="btn btn-primary w-100" type="submit">
                            <i class="bi bi-plus-square"></i> &nbsp Create new post
                        </button>
                    </form>
                </div>
            }

            <h2 Class="text-primary mx-auto">@ViewBag.GroupTitle</h2>
            <br />
            <h6 class="text-end">-@ViewBag.Creator</h6>
            <h6 class="text-end">(@ViewBag.UserCount)</h6>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="m-3 w-35 ms-auto">
                    <form method="get">
                        <input type="hidden" name="id" value=@ViewBag.GroupId />
                        <button asp-controller="Group" asp-action="Edit" class="btn btn-sm btn-secondary w-100" type="submit">
                            &nbsp Edit group
                        </button>
                    </form>
                </div>
            }
            <hr />
            <div style="white-space: pre-line" class="mb-4">
                @ViewBag.Description
            </div>
            
        </div>

        <div class="col-8 m-2">
            @foreach(Post post in Model)
            {
                await Html.RenderPartialAsync("_PostPartial", post);
            }
        </div>        
    </div>
</div>