@model CreatePostViewModel
@{
    ViewData["Title"] = "Create post";
}

<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-12">
            <form method="post">
                <div class="bg-dark p-3 mt-4 w-100">
                    <div class="row pb-2">
                        <h2 class="text-primary">Create a text Post</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control w-50" />
                        <span asp-validation-for="Title" class="text-warning"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Body"></label>
                        <textarea asp-for="Body" rows="14" class="form-control w-100"></textarea>
                        <span asp-validation-for="Body" class="text-warning"></span>
                    </div>
                    <input type="hidden" name="groupId" value=@ViewBag.id />
                    <button type="submit" class="btn btn-primary mt-4" style="width:150px">Create</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-12">
            <form method="post" asp-action="CreateYT">
                <div class="bg-dark p-3 mt-4 w-100">
                    <div class="row pb-2">
                        <h2 class="text-primary">Create a Youtube link post</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control w-50" />
                        <span asp-validation-for="Title" class="text-warning"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Body">Link</label>
                        <textarea asp-for="Body" rows="1" class="form-control w-100"></textarea>
                        <span asp-validation-for="Body" class="text-warning"></span>
                    </div>
                    <input type="hidden" name="groupId" value=@ViewBag.id />
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                </div>
            </form>
            <form enctype="multipart/form-data" method="post" asp-action="CreateImage">
                <div class="bg-dark p-3 mt-4 w-100">
                    <div class="row pb-2">
                        <h2 class="text-primary">Create a post that contains an image</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control w-50" />
                        <span asp-validation-for="Title" class="text-warning"></span>
                    </div>
                    <div class="mb-3">
                        <label>Supported file types = PNG, JPG, JPEG, PNG</label>
                        <br />
                        <label>File size below 15Mb</label>
                        <div>
                            <input asp-for="File" class="form-control" type="file"/>
                        </div>
                    </div>
                    <input type="hidden" name="groupId" value=@ViewBag.id />
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}