
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to breddit</h1>
    <p>This is the very cool front page with absolutely no content whatsoever.</p>
    <p>Use the navigation menu above.</p>
</div>