<form method="post" asp-controller="Data" asp-action="CreateUsers">
    <div class="mb-3">
        <label>Amount:</label>
        <input name="amount"/>
    </div>
    <button type="submit" class="btn btn-outline-info">Create</button>
</form>
<br/>
<form method="post" asp-controller="Data" asp-action="CreateGroups">
    <div class="mb-3">
        <label>Amount:</label>
        <input name="amount"/>
    </div>
    <button type="submit" class="btn btn-outline-info">Create</button>
</form>
<br/>
<form method="post" asp-controller="Data" asp-action="CreatePosts">
    <button type="submit" class="btn btn-outline-info">Create posts</button>
</form>