@model Post

<div class="card-header">
    <h3 class="ps-1 text-primary">
        <span class="badge bg-primary rounded-pill">@Model.TotalRating</span>
        &nbsp @Model.Title
    </h3>
</div>

<div class="card-body" style="white-space: pre-line">
    <img src="~/Images/@Model.ImagePath" class="my-image"/>
</div>