@using BredWeb.Models
@model Post

<div class="card-subtitle text-end me-3">
    @if (Model.IsEdited)
    {
        <h6>-@Model.AuthorName @Model.PostDate.ToString().Substring(0, 16) Edited</h6>
    }
    else
    {
        <h6>-@Model.AuthorName @Model.PostDate.ToString().Substring(0, 16)</h6>
    }
</div>
<div class="w-100 card-footer container">
    <div class="row">
        <div class="col-3 btn-group" role="group">
            <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@Model.Id" asp-route-home="true"
               class="btn btn-primary btn-sm m-1" style="width: 125px">
                <i class="bi bi-arrow-up-square"></i>
                Like
            </a>

            <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@Model.Id" asp-route-home="true"
               class="btn btn-secondary btn-sm m-1" style="width: 125px">
                <i class="bi bi-arrow-down-square"></i>
                Dislike
            </a>

        </div>
    </div>
</div>