@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<form method="post">
    <div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Forgot Password</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-secondary" style="width:150px">
            Home Page
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
