@model Person

@{
    ViewData["Title"] = "Account";
}

<div class="container p-3 mt-4  bg-dark">
    <div class="row pb-2">
        <h2 class="text-primary">Account Info</h2>
            <hr />
    </div>

    <div class="form-group w-100" style="padding:0px">

        <div>
            <img src="images/tabby-cat.jpg" alt="" class="w-15 h-15"/>
        </div>

      <fieldset disabled="">
        <div class="mb-3">
            <label asp-for="NickName" class="text-success"></label>
            <input asp-for="NickName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="text-success"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="disabledInput" class="text-success">Birthday</label>
            <input class="form-control" id="disabledInput" type="text"  disabled="" value="@Model.BirthDay.ToString().Substring(0, 10)">
        </div>
      </fieldset>
    </div>
</div>