@model LoginViewModel


@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Login</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Home Page
        </a>
        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-secondary" style="width:150px">
            Forgot password
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}