@model Register


@{
    ViewData["Title"] = "Register?";
}

<form method="post">
    <div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="NickName"></label>
            <input asp-for="NickName" class="form-control" />
            <span asp-validation-for="NickName" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDay"></label>
            <input asp-for="BirthDay" type="date" class="form-control" />
            <span asp-validation-for="BirthDay" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Register</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Home Page
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}