@model ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}

<form method="post">
    <div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Reset Password</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Reset</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}